<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/cs.css">
</head>
<br>
<br>

<body class="bg-gray-200 h-screen flex items-center justify-center">

    <div class="flex items-center space-x-4">
      <input type="radio" id="decrement" name="counter" class="hidden" />
      <label for="decrement" class="px-4 py-2 bg-red-500 text-white cursor-pointer select-none">-</label>
  
      <span id="counter" class="text-xl font-semibold">0</span>
  
      <input type="radio" id="increment" name="counter" class="hidden" />
      <label for="increment" class="px-4 py-2 bg-green-500 text-white cursor-pointer select-none">+</label>
    </div>
  
  </body>






<br>
<br>
<body class="bg-white scrollbar-hidden overflow-y-scroll">
    <div>
        <nav>
            <ul class="flex bg-red-600 justify-around py-2 h-30">
                <li class="text-red-200 text-lg font-semibold hover:text-white cursor-pointer">OUR MENU</li>
                <li class="text-red-200 text-lg font-semibold hover:text-white cursor-pointer">STORES</li>
                <li class="text-red-200 text-lg font-semibold hover:text-white cursor-pointer">GIFT CARD</li>
                <li class="text-red-200 text-lg font-semibold hover:text-white cursor-pointer">CORPORATE ENQUIRY</li>
                <li class="text-red-200 text-lg font-semibold hover:text-white cursor-pointer">CONTACT</li>
            </ul>
        </nav>
    </div>
   
    <div class="overflow-x-auto ">
       <div class="flex scrollbar-hidden overflow-x-scroll  h-56 gap-3 my-3  px-2 " >
        

<img src="/static/dist/italian-delight-poster-concept-top-view-pizza-traditional-italian-cuisine-landing-page-design-dessert-delicacy-advertising-cafe-restaurant-cartoon-flat-vector-illustration_118813-16230.jpg" class="opacity-90 rounded-lg hover: cursor-pointer" alt="">
<img src="/static/dist/pizza-chalkboard-background-with-ingredients-pizza-pepper-olives-tomato-etc_579418-517.jpg" class="opacity-90 rounded-lg hover:cursor-pointer" alt="">

<img src="/static/dist/pepperoni-pizza-recipe-concept-top-view-fast-food-tomatoes-olives-salami-parsley-traditional_118813-17302.jpg" class="opacity-90 rounded-lg hover:cursor-pointer" alt="">

<img src="/static/dist/pizza-board_85534-220.jpg" class="opacity-90 rounded-lg hover:cursor-pointer" alt="">

<img src="/static/dist/pizza-banner-background-pizza-board-vector-illustration_651808-127.jpg" class="opacity-90 rounded-lg hover:cursor-pointer" alt="">
       </div>
    </div>
    <hr class="border-t-2 border-gray-200">
    <div>
        <div class="flex align-baseline">
            <div class="flex flex-col justify-center py-4 px-5">
                <h5 class="text-red-600 text-6xl ">Pizza Italian</h5>
                
                <div class="text-2xl opacity-75 pt-6">
                    
                    "Indulge in a symphony of flavors with our artisanal pizzas, 
                    <br>
                    where every slice tells a story of handcrafted perfection. 
                    <br>
                    Savor the taste, embrace the moment, and let our pizzas be the melody to your cravings. 
                    <br>
                    Because at pizza italian , every bite is a celebration of passion and flavor."
                
                </div>
            </div>
        

    <div class="w-2/4 opacity-90">
        <img src="/static/dist/new.jpg"  alt="">  
    </div>   
</div> 
                     
    </div>
    <hr class="border-t-2 border-gray-200">
<div class=" flex justify-center h-14 py-4">
     <h5 class="text-red-600 text-6xl">Explore</h5>
</div>
<div class="flex">
    <div class="pt-6"> <img src="/static/dist/pizza-delivery-man-with-open-box-cartoon-icon_8071-21605.webp" alt=""></div>
    <div class="pt-6">
        <div class="flex flex-row pt-4">
            <div class="w-56 opacity-80 hover:cursor-pointer"><img src="/static/dist/IMG_20231022_201553.jpg"  alt=""><div class="flex justify-center opacity-75">Veggie Pizza</div></div>
            <div class="w-56 opacity-90 hover:cursor-pointer"><img src="/static/dist/IMG_20231022_201627.jpg" alt=""><div class="flex justify-center pt-4 opacity-75">Non-Veg Pizza</div></div>
            <div class="w-56 opacity-90 hover:cursor-pointer"><img src="/static/dist/top-view-italian-pizza-sticker-white-background_1308-65194.webp" alt=""><div class="flex justify-center opacity-75">cheese pizza</div></div>
          
        </div>
        <div class="flex flex-row">
            <div class="w-56 opacity-90  hover:cursor-pointer"><img src="/static/dist/pizza-top-view-with-salami-slices-pepperoni-cartoon-icon_80590-13799.webp" alt=""><div class="flex justify-center opacity-75">Pepperoni pizza</div></div>
            <div class="w-56 opacity-90  hover:cursor-pointer"7><img src="/static/dist/vegetarian-pizza-with-fresh-vegetables-food-cartoon-icon_80590-13795.webp" alt=""><div class="flex justify-center opacity-75">Margherita pizza</div></div>
            <div class="w-56 opacity-90 hover:cursor-pointer"><img src="/static/dist/tasty-italian-pizza-top-view-delicious-food-icon_80590-13801.webp" alt=""><div class="flex justify-center opacity-75">Supreme pizza</div></div>
        </div>
    </div>
</div>



<hr class="border-t-2 border-gray-200">
<div class=" flex justify-center h-14 py-3">
    <h5 class="text-red-600 text-6xl">Sides & Beverages</h5>
</div>
<div class="flex ">
    <div class="flex flex-col px-5">
        <div class=" text-2xl opacity-75  px-5 py-5">
            <br>
            <br>
           
            "Elevate your pizza affair with our tantalizing sides and quench your thirst with our refreshing beverages, turning every meal into a gastronomic adventure. Because at Pizza italian, we believe in crafting not just pizzas, but unforgettable culinary journeys that leave you craving more."
           <br>
           <br>
           
        </div>
        <div class="px-5">
        <button class="relative group overflow-hidden px-6 h-12 rounded-full flex space-x-2 items-center w-44 bg-red-600 bg-opacity-100">
            <span class="relative text-base text-white">Order now</span>
            <div class="flex items-center -space-x-3 translate-x-3">
              <div class="w-2.5 h-[1.6px] rounded bg-white origin-left scale-x-0 transition duration-300 group-hover:scale-x-100"></div>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-white -translate-x-2 transition duration-300 group-hover:translate-x-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
              </svg>
            </div>
          </button>
        </div>
    </div>
  
   
   <img src="/static/dist/combo.jpg" alt="" class="w-2/5 opacity-90 pt-6">
</div>





                            <!--box 1-->  

<hr class="border-t-2 border-gray-200">

 <div class=" flex flex-col justify-start h-14 ">
    <h3 class="text-red-600 text-3xl py-4 px-5 pt-6">Pizza Italian: Delivering Happiness</h3>
  
    <div class="opacity-75  py-1 px-5 ">
What’s better than having a crispy melty pizza, you ask?
<br>
Having that crispy and melty pizza in the comfort of your own home with the ones you love, we say.
<br>
it is always “Rishton ka time”. Whether it's a treat for your promotion, a kid topping his class or winning the heart of your wife who is too tired to cook after a long day at work! A cheesy slice of the best pizza is all one needs to put things into perspective and start any celebration. Plus, you do not even need to rush to the restaurant to have one now. A call, a few clicks on our website or a few touches on the mobile screen is all you have to do to have that tempting, light-on-the-pocket pizza at your doorstep.
<br>
There is something for everyone here. The vegetarians, non-vegetarians, the sides’ lovers and also the ones who love to have something sweet by the time they reach the last bite of the last slice of pizza slice.
<br>
 </div>
 <br>
                              <!--box 2-->  


 <hr class="border-t-2 border-gray-200">

 <div class=" flex flex-col justify-start h-14 ">
    <h3 class="text-red-600 text-3xl py-4 px-5 pt-6">What We Need - More Choice. More Fun.</h3>
  
    <div class="opacity-75  py-1 px-5 ">
        No matter what the situation, pizza always helps. Especially a pizza that gives you the freedom to choose your toppings - from paneer, crisp capsicum, onion, grilled mushroom, golden corn, black olives, fresh tomato, red paprika, jalapeno, paneer tikka and extra cheese to non-veg toppings such as pepper barbeque chicken, peri-peri chicken, grilled chicken rasher, chicken sausage or chicken tikka- the options are almost endless, anything and everything you can think of that too on top of the crust of your choice - New hand-tossed crust, wheat thin crust, cheese burst crust, classic hand-tossed crust or a fresh pan pizza. Because just like a pizza, Pizza italian understands you.
 </div>
 <br>
                              <!--box 3-->  


   <hr class="border-t-2 border-gray-200">

   <div class=" flex flex-col justify-start h-14 ">
      <h3 class="text-red-600 text-3xl py-4 px-5 pt-6">The Promise Of 30-Minute Delivery</h3>
    
      <div class="opacity-75  py-1 px-5 ">
          The icing on the cake or more aptly the extra cheese on your already fabulous pizza is that Pizza italian takes only half an hour for its pizza delivery service. Don’t believe us? Time it if you please. With 1250+ stores present all over India, you can have a Pizza italian’s pizza even while traveling on a train. Yes, you are reading it right, you can enjoy pizza on train too.
          <br>
          So stop googling for the “pizza shops near me” and order from your nearest pizza outlet to have a hot box of pizza on your table in the 
          <br>
          next 30 minutes, or berth at the next halting station.
   </div>
   <br>
 
 
<div class="flex flex-col ">
    <div class="flex flex-row px-5 pt-5 justify-between bg-red-500">
        <div class="flex flex-col">
            <div class="h-4/6 text-red-200 text-2xl">Order now</div>
            <br>
            <div class=" text-red-200 hover:text-white cursor-pointer">Veggie Pizza</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Non-Veg Pizza</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">cheese pizza</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Pepperoni pizza</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Margherita pizza</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Supreme pizza</div>
        </div>
         
        <div class="flex flex-col">
            <div class=" h-4/6 text-red-200 text-2xl">Company</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Careers</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Team</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">About us</div>
            <br>
            <br>
            <br>
        </div>
        <div class="flex flex-col">
            <div class="h-4/6 text-red-200 text-2xl">Contact</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Help & Support</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Partner with us</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Ride with us</div>
           <br>
           <br>
           <br>
        </div>
        <div class="flex flex-col">
            <div class="h-4/6 text-red-200 text-2xl">Legal</div>
            
            <div class=" text-red-200 hover:text-white cursor-pointer">Terms & Conditions</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Refund & Cancellation</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Privacy Policy</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Cookie Policy</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Offer terms</div>
            <br>
        </div>
        <div class="flex flex-col">
            <div class="h-4/6 text-red-200 text-2xl">Social Media</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">facebook</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">Instagram</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">twitter</div>
            <div class=" text-red-200 hover:text-white cursor-pointer">youtube</div>
            <br>
            <br>
        </div>
    </div>   
    
    <div class="bg-red-500 px-5 text-red-200">
        <br>
    <br>
        Order a dilicious pizza on the go, anywhere, anytime. Pizza italian is happy to assist you with your home delivery. Every time you order.
        <br>
        you get a hot and fresh pizza delivered at your doorstep in less than thirty minutes.
        <br>
        <br>
    </div>
    
    
</div>



</body>
</html>